
.social-links li a:hover,
.select-items div:hover,
.lnk-default,
.form-sec.style-2 .form-field label,
.tweet-list li p a,
.categories-list li a:hover,
.single-post .post-info > blockquote p:before,
.main-menu li.menu-item-has-children.active > a,
.main-menu li a:hover,
.secnd-menu li a:hover {
	color: #e4820e;
}


.menu-btn,
.form-sec-details,
.select-selected,
.tags-list li a:hover,
.bottom-strip,
.categories-list li:before,
.sidebar .tags-list li a:hover,
.post-items.style-3 .post-info .lnk-default:hover,
.fv-load .lnk-default:hover,
.single-post .post-info .lnk-default:hover {
	background-color: #e4820e;
}

.post-items.style-3 .post-info .lnk-default {
	border-color: #e4820e;
}
